.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0e5eb;
  height: calc(100% - 400px);
  flex-wrap: wrap;
  margin-bottom: 40px;
}
